@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* primary colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* neutral colors */
    --off-white: hsl(36, 100%, 99%);
    --grey-blue: hsl(233, 8%, 79%);
    --dark-grey-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    /* spacing */
    --section-margin: 4.8rem;
    --gap-margin: 1.6rem;

    /* font family */
    --ff-inter: 'Inter';

    /* font size */
    --fs-paragraph: 1.5rem;

    /* font weight */
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-heavy: 800;
}
html {
    font-size: 62.5%;
    font-family: var(--ff-inter);
}

main {
    padding: var(--gap-margin);
    padding-block-start: 3.2rem;
    font-size: var(--fs-paragraph);
}

header {
    width: 100%;
    margin-block-end: var(--gap-margin);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            z-index: 30;
        }

        img {
            cursor: pointer;
        }
    }
}

section {
    margin-block-end: var(--section-margin);
}

.main-article {
    img {
        width: 100%;
        margin-block-end: var(--gap-margin);
    }

    h1 {
        font-size: 4.5rem;
        font-weight: var(--fw-bold);
        line-height: 1;
        margin-block-end: var(--gap-margin);
    }

    p {
        margin-block-end: var(--gap-margin);
        line-height: 2;
    }

    button {
        font-weight: var(--fw-bold);
        border: none;
        background-color: var(--soft-red);
        width: 50%;
        padding-block: 1rem;
        padding-inline: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
    }
}

.new-articles {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: var(--gap-margin);

    h2 {
        margin-block-end: var(--gap-margin);
        color: var(--soft-orange);
    }

    h3 {
        margin-block-end: var(--gap-margin);
    }

    p {
        margin-block-end: var(--gap-margin);
    }

    hr {
        margin-block-end: var(--section-margin);
    }
}

.suggested-articles {
    display: flex;
    flex-direction: column;
    gap: var(--gap-margin);

    article {
        display: flex;
        gap: var(--gap-margin);
        align-items: flex-start;
        height: fit-content;
    }
}

.image {
    img {
        height: 150px;
    }
}

.content {
    h2 {
        color: var(--soft-red);
        margin-block-end: var(--gap-margin);
    }
    
    h3 {
        margin-block-end: var(--gap-margin);
    }

    p {
        line-height: 2;
    }
}

.hamburger-menu {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

    -webkit-user-select: none;
    user-select: none;

    a {
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: var(--soft-red);
    }
}

.desktop-image {
    display: none;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    background: var(--off-white);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateX(100%);

    transition: transform 0.5s ease-in-out;
    padding: 4rem 2rem;

    li {
        padding: 1rem 0;
    }
}

#menuCheckbox {
    display: none;
}

#menuCheckbox:checked + .hamburger-menu #menu {
    transform: translateX(0);
}