@media (max-width: 786px) {
    body {height: auto;}
    main {padding: var(--space-100);}
    .main-news-container {
        grid-template-columns: 1fr;
    }
    .main-article {
        grid-template-columns: 1fr;
        gap: 2rem;
        img {
            grid-column: 1;
            width: 100%;
        }

        .main-article-content > p {
            font-size: var(--fs-paragraph);
            margin-block-end: var(--space-100);
        }

        .main-article-content > button {
            letter-spacing: 2.5px;
            font-weight: 800;
        }
    }
    .title {
        display: block;
    }

    .new-articles {
        padding: 2rem;
        
        h3 {
            font-size: 1.8rem;
            margin-block-start: var(--space-100);
        }
        p {
            font-size: var(--fs-paragraph);
            margin-block: var(--space-100);
        }
    }

    .suggested-articles {
        flex-direction: column;


        .content {
            justify-content: space-evenly;
        }
        .content > p {
            font-size: var(--fs-paragraph);
        }

        .content > h2 {
            font-size: var(--space-200);
        }

        .content > h3 {
            font-size: 1.8rem;
        }
    }

    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;

        -webkit-user-select: none;
        user-select: none;

        a {
            text-decoration: none;
            transition: color 0.3s ease;
        }

        a:hover {
            color: var(--soft-red);
        }
    }
    #menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 75vw;
        height: 100vh;
        background: var(--off-white);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translateX(100%);

        transition: transform 0.5s ease-in-out;
        padding: 4rem 2rem;

        li {
            padding: 1rem 0;
        }
    }

    #menuCheckbox {
        display: none;
    }

    #menuCheckbox:checked + .hamburger-menu #menu {
        transform: translateX(0%);
    }

    #icon {
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}